header {
  margin-top: 20px;
  margin-left: 30px;
}

h1 {
  font-size: 48px;
  
}

p {
  font-size: 25px;
  margin: 40px;
}

body {
  background-color: navy;
  color: white
}

li {
  font-size: 25px;
  margin: 40px;
  padding: 20px
  border: 20px
}
